<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367335486176-rvro3ep56juto4280gcqcuosf1bgos4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367335486176-rvro3ep56juto4280gcqcuosf1bgos4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBcVzVOIj9l2mLuITNLbqEFhQ114442bhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>367335486176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alejandrozepeda.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>socialite-4d0b3</string>
	<key>STORAGE_BUCKET</key>
	<string>socialite-4d0b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367335486176:ios:31179f2d8999c54ca85685</string>
	<key>DATABASE_URL</key>
	<string>https://socialite-4d0b3.firebaseio.com</string>
</dict>
</plist>